# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### Gradle ###
**/.gradle/
**/build/
!src/**/build/
*.gradle
*.bat
.gradle

## java template
.class
.war
.jar

## Intellij IDEA ##
.idea
*.xml